@mixin color_theme_light {
  --header-background: #{$main-color};
  --header-font-color: #{$white};

  --body-background: #{$body-background};
  --body-font-color: #{$body-font-color};

  --mark-color: #{$mark-color};

  --button-background: #{lighten($main-color, 2)};
  --button-border-color: #{$main-color};

  --link-color: #{$link-color};
  --link-color-visited: #{$link-color-visited};
  --link-color-footer: #{$link-color-footer};

  --accent-color-dark: #{$gray-600};
  --accent-color: #{$gray-200};
  --accent-color-lite: #{$gray-100};

  --control-icons: #{lighten($body-font-color, 50)};

  --footer-background: var(--header-nav-background);
  --footer-font-color: #{$white};
  --footer-link-color: #{$link-color-footer};
  --footer-link-color-visited: #{$link-color-footer};

  .dark-mode-dim .gblog-markdown {
    img {
      filter: none;
    }
  }

  .gblog-markdown {
    .gblog-hint {
      filter: none;
    }
  }
}

@mixin code_theme_light {
  @include chroma_github;

  --code-background: #{$code-background};
  --code-accent-color: #{darken($code-background, 6)};
  --code-accent-color-lite: #{darken($code-background, 2)};
  --code-font-color: #{$code-font-color};

  --code-copy-background: #{$code-background};
  --code-copy-font-color: #{lighten($body-font-color, 24)};
  --code-copy-border-color: #{lighten($body-font-color, 48)};
  --code-copy-success-color: #{map.get($hint-colors, "ok")};
}
